/* Root elementdə font-family dəyişənləri */
:root {
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* Body üçün font-family-base tətbiqi */
  body {
    font-family: var(--font-family-base);
  }
  
  /* Bütün heading-lər üçün font-family-title tətbiqi */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
  }