/* Root elementdə font size dəyişənləri */
:root {
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  }
  
  /* HTML fontlarını 62.5% etmək (1rem = 10px, əgər default 16px-dirsə) */
  html {
    font-size: 62.5%;
  }
  
  /* Body font ölçüsünü font-size-medium ilə təyin etmək */
  body {
    font-size: var(--font-size-medium);
  }