/* Root elementdə CSS dəyişənləri */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    font-size: 62.5%;
}

/* Body və bütün linklər üçün text-color tətbiqi */
body {
    color: var(--text-color);
    font-family: var(--font-family-base);
}

a {
    color: var(--text-color);
}

/* Visually-hidden sinfi dəyişməz qalır */
.visually-hidden {
    display: none;
}

/* card-category və section-tagline üçün color-primary tətbiqi */
.card-category,
.section-tagline {
    color: var(--color-primary);
}

/* Bütün başlıq tagləri üçün font-family-title tətbiqi */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
}